<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle %}{% endblock %}</title>
</head>
<body>

<header>
    <nav>
        {% if user.is_authenticated %}
            
            {% if user.profile.imagen %}
                <a href="{% url 'profile-update' user.profile.id %}">
                    <img src="{{user.profile.imagen.url}}", height="100%", width="36px" style="border-radius: 50%;"> {{user.username}}
                </a>
            {% else %}
                <a href="{% url 'profile-update' user.profile.id %}">{{user.username}}</a>
            {% endif %}
            <a href="{% url 'logout'%}">Logout</a>
            <br>
            <a href="{% url 'mensaje-create'%}">Enviar Mensaje</a>
            <a href="{% url 'mensaje-list'%}">Ver Mensajes</a>
        {% else %}
            <a href="{% url 'signup'%}">Signup</a>
            <a href="{% url 'login'%}">Login</a>
        {% endif %}
        
    </nav>
    <nav>
        <br>
        <br>
        <a href="{% url 'juego'  %}"> Inicio </a>
        <a href="{% url 'juegos-create'  %}"> Crear </a>
        <a href="{% url 'juegos-list'  %}"> Buscar </a>
    </nav>

</header>

<h1>
    {% block titulo %}

    {% endblock %}

</h1>

{% block listado%}

{% endblock %}


</body>
</html>